In [1]:
# Removing white spaces from the strings

my_name = "Mohammed"
print(my_name)

Mohammed

In [3]:
# Left stripping - lstrip() method
my_name1 = " Arif"
my_name1.lstrip()

'Arif'

In [4]:
# Right stripping - rstrip() method
my_name2 = "Arif "
my_name2.rstrip()

'Arif'

In [5]:
# Normal stripping - Stripping both left and right if white spaces available either in the left or the right side

my_name3 = "   Mohammed Arif   "
my_name3.strip()

'Mohammed Arif'

In [23]:
# List data type - A list is a collection of items in a particular order.

# classification: It is classified as Mutable data type - Means which we can edit or alter 
# list can be defined by using Square brackets [] or a list() method

my_list = ['Mohammed','Arif',5,10,'Chennai']

In [24]:
print(my_list)

['Mohammed', 'Arif', 5, 10, 'Chennai']

In [25]:
type(my_list)

list

In [26]:
# Accessing elements from the list - Accessing can be done using indexing concept. Index always starts from 0.
print(my_list[1])

Arif

In [27]:
# Adding items to the list

my_list.append('India') # append method () always add item to the end of the list
print(my_list)

['Mohammed', 'Arif', 5, 10, 'Chennai', 'India']

In [28]:
my_list.insert(2,55) # insert() add items to the specific index.

# In this eg: we are adding number 55 to the 2nd index position

In [29]:
print(my_list)

['Mohammed', 'Arif', 55, 5, 10, 'Chennai', 'India']

In [30]:
my_list.insert(6,'Coimbatore')

In [31]:
print(my_list)

['Mohammed', 'Arif', 55, 5, 10, 'Chennai', 'Coimbatore', 'India']

In [32]:
my_list.insert(-1,'Mumbai')

In [33]:
my_list

['Mohammed', 'Arif', 55, 5, 10, 'Chennai', 'Coimbatore', 'Mumbai', 'India']

In [34]:
# Modifying items in the list

my_list[4] = 20
print(my_list)

['Mohammed', 'Arif', 55, 5, 20, 'Chennai', 'Coimbatore', 'Mumbai', 'India']

In [35]:
# Removing items in the list

del my_list[1]

In [36]:
my_list

['Mohammed', 55, 5, 20, 'Chennai', 'Coimbatore', 'Mumbai', 'India']

In [37]:
my_list.remove(5)

In [38]:
my_list

['Mohammed', 55, 20, 'Chennai', 'Coimbatore', 'Mumbai', 'India']

In [39]:
my_list.pop(-2)

'Mumbai'

In [40]:
my_list

['Mohammed', 55, 20, 'Chennai', 'Coimbatore', 'India']

In [41]:
my_list.pop(-1)

'India'

In [42]:
my_list

['Mohammed', 55, 20, 'Chennai', 'Coimbatore']

In [43]:
popped_item = my_list.pop(1)

In [44]:
popped_item

55

In [45]:
my_list

['Mohammed', 20, 'Chennai', 'Coimbatore']